extends ../layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
      .col-md-7
        h1 #{tituloPagina}
        blockquote
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sapiente laboriosam in facere ipsum vero, quis quos earum sed consequuntur, minima ducimus magnam veritatis officia eos fuga vitae ratione labore.
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur numquam sequi magni facilis modi velit ipsam veniam debitis vero, voluptates quasi eaque ab tenetur recusandae dolorum, nemo voluptas error reprehenderit! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur inventore iusto laborum beatae suscipit id cupiditate repudiandae quisquam nam, illum natus culpa rem nemo voluptas harum optio debitis asperiores magni?
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur numquam sequi magni facilis modi velit ipsam veniam debitis vero, voluptates quasi eaque ab tenetur recusandae dolorum, nemo voluptas error reprehenderit!

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="Seguridad", class="img-fluid mb-4")
          h2.mb-2 Seguridad
          p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .col-md-4
          img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
          h2.mb-2 Mejores Destinos
          p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .col-md-4
          img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
          h2.mb-2 Precios
          p Lorem ipsum dolor sit amet consectetur adipisicing elit.
